{{partial "header.html" .}}
<div class="container mx-auto my-6 px-6">
  <div class="">
    View errors by:
    <a href="/" class="no-underline rounded px-2 py-1 my-1 bg-orange-lightest hover:bg-orange-lighter text-orange-dark hover:text-orange-darkest">Date Added</a>
    <a href="/pkg" class="no-underline rounded px-2 py-1 my-1 bg-orange-lightest hover:bg-orange-lighter text-orange-dark hover:text-orange-darkest">Package/Type</a>
  </div>
</div>
<div class="container mx-auto my-6 bg-white rounded shadow-md">
  <h1 class="px-6 pt-8 pb-6 text-black">We Can't Find the Page You Are Looking For</h1>
  <div class="content pb-8">
    <p>
      If you clicked on a link it means we have a broken link. <a href="mailto:jon@calhoun.io">Let me know</a> what page you were on and what link you clicked and I'll try to fix it. If you typed in the URL yourself, check it for typos in it. Chances are you got something wrong.
    </p>
  </div>
</div>
{{partial "footer.html" .}}
