{{partial "header.html" .}}
<div class="container mx-auto my-6 px-6">
  <div class="">
    View errors by:
    <a class="no-underline rounded px-2 py-1 my-1 bg-grey-lighter text-grey-dark">Date Added (current)</a>
    <a href="/pkg" class="no-underline rounded px-2 py-1 my-1 bg-orange-lightest hover:bg-orange-lighter text-orange-dark hover:text-orange-darkest">Package/Type</a>
  </div>
</div>
{{$.Scratch.Set "paginator" (.Paginate (where .Data.Pages "Type" "error"))}}
{{partial "pages.html" .}}
{{partial "footer.html" .}}
